<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @access.date %>
</p>

<p>
  <strong>Nationality:</strong>
  <%= @access.nationality %>
</p>

<p>
  <strong>Os:</strong>
  <%= @access.os %>
</p>

<%= link_to 'Edit', edit_access_path(@access) %> |
<%= link_to 'Back', accesses_path %>
