<p id="notice"><%= notice %></p>

<p>
  <strong>Uuid:</strong>
  <%= @beacon.uuid %>
</p>

<p>
  <strong>Manufacturer:</strong>
  <%= @beacon.manufacturer %>
</p>

<p>
  <strong>Battery:</strong>
  <%= @beacon.battery %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @beacon.longitude %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @beacon.latitude %>
</p>

<p>
  <strong>Image:</strong>
  <%= @beacon.image %>
</p>

<p>
  <strong>Description:</strong>
  <%= @beacon.description %>
</p>

<%= link_to 'Edit', edit_beacon_path(@beacon) %> |
<%= link_to 'Back', beacons_path %>
